@keyframes slide-in {
    from {
        left: 150%;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: -50%;
    }
}

:root {
    /*--accent-color: var(--accent-color);*/
    --accent-color: #eacffc;
    --blur: 8px;
    --opacity: .6;
    --zoom: 105%;
    --hover: #ffffff65;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Schoolbell', cursive;
    background: url("files/20230613_200051.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/*.main::before{
    background: linear-gradient(135deg,#fff5 70px,transparent 100px),linear-gradient(225deg,#fff5 70px,transparent 100px),linear-gradient(54deg,#0002 0 4%,#6661 6% 6%,#0002 8% 10%,#0002 15% 16%,#aaa1 17% 18%,#0002 23% 24%,#bbb2 25% 26%,#0002 31% 33%,#0002 34% 34.5%,#bbb2 36% 40%,#0002 41% 41.5%,#bbb2 44% 45%,#bbb2 46% 47%,#0002 48% 49%,#0002 50% 50.5%,#0002 56% 56.5%,#bbb2 57% 63%,#0002 67% 69%,#bbb2 69.5% 70%,#0002 73.5% 74%,#bbb2 74.5% 79%,#0002 80% 84%,#aaa2 85% 86%,#0002 87%,#bbb1 90%) 0/100vw 100vh no-repeat fixed, #74b8fc;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #fffd;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.main{
    margin: auto;
    margin-top: 64px;
    max-width: 50%;
    min-height: 400px;
    text-align: center;
    color: #222;
    background: none;
    border: 1px solid rgba(0,0,0,.7);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.7),inset 0 0 0 1px #fffa;
}*/

.main::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.main {
    display: block;
    margin-top: 64px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
}

button {
    font-family: 'Schoolbell', cursive;
    font-size: large;
    background: var(--accent-color);
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, .7);
    min-height: 48px;
    min-width: 128px;
    margin: 8px;
    transition: 0.1s;
}

button:hover {
    filter: brightness(105%);
    box-shadow: 0 0 16px -4px rgba(255, 255, 255, .7);
    transform: scale(110%);
    cursor: pointer;
}

button:active {
    transform: scale(90%);
}

.btt {
    min-height: 24px;
    min-width: 96px;
    font-size: small;
}

.pr {
    min-width: 172px;
}

.hidden {
    display: none;
}

.footer {
    position: absolute;
    bottom: -11px;
    left: 5px;
    font-size: x-small;
}

.photography::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.photography {
    vertical-align: top;
    margin-top: 16px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
    /*animation: slide-out 1s ease-in-out;*/
}

.page {
    background: rgba(255, 255, 255, .6);
    margin: 4px;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    border: solid 1px rgb(36, 36, 36);
    box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.7);
}

.phot {
    width: 188px;
    height: 144px;
    object-fit: cover;
    display: inline;
    cursor: zoom-in;
    transition: 0.3s;
}

.phot:hover{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 24px 2px rgba(255, 255, 255, 0.7);
}

.dl {
    margin-left: -60px;
}

.moreinfo::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.moreinfo {
    vertical-align: top;
    margin-top: 16px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
    /*animation: slide-out 1s ease-in-out;*/
}

.projects::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.projects {
    vertical-align: top;
    margin-top: 16px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
    /*animation: slide-out 1s ease-in-out;*/
}

.downloads::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.downloads {
    vertical-align: top;
    margin-top: 16px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
    /*animation: slide-out 1s ease-in-out;*/
}

.settings::before {
    background: var(--accent-color);
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

.settings {
    vertical-align: top;
    margin-top: 16px;
    margin-bottom: 64px;
    padding: 4px;
    max-width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    backdrop-filter: blur(var(--blur));
    border-radius: 12px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
    /*animation: slide-out 1s ease-in-out;*/
}

div::before {
    transition: .3s;
}

div {
    transition: .3s;
}

div:hover {
    box-shadow: 0 0 24px 2px var(--hover);
    transform: translateX(-50%) scale(var(--zoom));
    z-index: 1000;
}

/*div:active::before{
    opacity: .8;
}

div:active{
    transform: translateX(-50%) scale(120%);
    z-index: 1000;
}*/

input {
    display: inline;
}

.inline {
    display: inline;
}

input[type="checkbox"]{
    accent-color: var(--accent-color);
}

nav::before{
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    z-index: -1;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 24px;
    width: 100%;
    z-index: 1000000;
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .7);
}

nav button{
    height: 24px;
    min-height: 24px;
    min-width: 72px;
    margin: 0;
    background: none;
    box-shadow: none;
    font-size: smaller;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

nav button:hover{
    box-shadow: none;
}

nav p{
    position: absolute;
    text-align: right;
    right: 8px;
    top: -10px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-size: smaller;
}